.data-table-pagination {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > :first-child {
        margin-right: 10px;
    }

    & > * {
        margin-bottom: 10px  !important;
    }

    .pagination {
        margin: 0;
    }

    .pagination-search {
        display: flex;
        align-items: center;
        white-space: nowrap;

        * {
            margin-right: 5px;
        }

        input {
            width: 70px;
        }
    }
}

.page-item {
    user-select: none;
}

.page-link {
    cursor: pointer;
}
