.data-table-pagination {
    margin-left: auto;
    gap: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    .pagination-search {
        display: flex;
        gap: .35rem;
        align-items: center;
        white-space: nowrap;

        input {
            width: 70px;
        }
    }
}

.page-item {
    user-select: none;
}

.page-link {
    cursor: pointer;
}
