.data-table-search-filter {
    margin-left: auto;
    
    input {
        margin: 0;
        color: #495057;
        outline: none;
        background-color: #fff;
        border: 1px solid #ced4da;
        padding: 0.25rem 0.5rem;
        line-height: 1.5;
        border-radius: 6px;
        margin-left: 0.5em;
        display: inline-block;
    }
}
