.data-table-entries-length {
    display: flex;
    align-items: center;

    select {
        margin: 0 5px;
        height: auto !important;
        padding: .25rem .5rem .25rem .25rem;
        line-height: 1;
        color: #495057;
        background: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        display: inline-block;
    }
}
