.vdt-cell-editable  {
    .view-cell, .edit-cell {
        display: flex;
        gap: .3em;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .view-cell {
        align-items: flex-start;
    }
    .edit-cell {
        align-items: stretch;
    }
}

.vdt-cell-editable svg {
    vertical-align: text-bottom;
}