.data-table-sort-icon {
    width: 23px;

    &::after {
        right: 0.5em;
        content: "\2193";
    }

    &::before {
        right: 1em;
        content: "\2191";
    }

    &::after,
    &::before {
        font-size: 140%;
        line-height: 1;
        color: black;
        position: absolute;
        bottom: 0.7rem;
        display: block;
        opacity: 0.5;
    }

    [data-sorting="asc"] &::before {
        opacity: 1;
    }

    [data-sorting="desc"] &::after {
        opacity: 1;
    }
}
